#content-wrap {
  flex-grow: 1;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  @include sm {
    width: 90%;
    margin: 0 auto;
  }
  @include md {
    width: 70%;
    max-width: 1200px;
  }
}
// First page alignment
.main-center {
  @include flex($direction: column);
}
.center {
  align-self: center;
  text-align: center;
}

//contact-flex
.flex-contact {
  @include md {
    display: flex;
    justify-content: space-between;
  }
}

//text sections
section {
  text-align: left;
  max-width: 450px;
  padding: 0.5rem 1rem;
  @include md {
    max-width: 400px;
    padding: 1rem;
  }
}
a.button {
  cursor: pointer;
  @include btn;
  display: inline-block;
}

//buttons

// cards
.cards {
  @include flex($justify: center);
  @include sm {
    @include flex($justify: space-between);
  }
}

section.card {
  background-color: $footerColor;

  width: 100%;
  max-width: 500px;
  margin: 0.5em;
  @include sm {
    width: calc(50% - 1rem);
  }
  @include xl {
    width: calc(33% - 1rem);
  }
  button {
    background-color: $headerColor;
    border: none;
    &:hover {
      background-color: black;
    }
  }
}

//references
.references {
  background-color: $footerLighterColor;
  padding: 1rem;
  i {
    color: $headerColor;
    margin-bottom: 1rem;
  }
  section {
    margin-bottom: 2rem;
  }
}
//references photo - name
.flex {
  @include flex($justify: flex-start);

  h3 {
    margin-bottom: 0.5rem;
  }
  h4 {
    margin: 0;
  }
}
