footer {
  background-color: $footerColor;
  color: $footerColorElements;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;

  padding: 2rem 1.5rem;
  max-width: 1400px;
  margin: 0px auto;

  @include xl {
    @include flex($justify: space-between);
  }
}

//footer-logo + text
.footer-logo {
  text-align: center;
  align-self: center;
  margin-bottom: 2.5rem;
  max-width: 16rem;
  @include xl {
    text-align: left;
  }
}

.footer-content {
  ul {
    padding-inline-start: 0;
  }
  
  @include flex($direction: column);

  @include md {
    @include flex($justify: space-between);
    width: 80%;
    max-width: 1400px;
    margin: 0px auto;
  }
  @include xl {
    width: 60%;
    margin: 0;
  }
}
.footer-copy {
  background-color: $footerCopyColor;
  color: $footerCopyColorElements;

  padding: 1rem;
}
