header {
  background-color: $headerColor;
  // box-shadow: 0px 2px 10px #888888;
  li {
    list-style: none;
  }
}

//underline effect
nav {
  a {
    color: $headerColorElements;
    padding: 0.5rem 0;

    position: relative;
    text-decoration: none;
    &:hover,
    &:focus {
      border-bottom: 1px solid;
    }
  }
  .active-site {
    border-bottom: 1px solid;
  }
}

.top-bar {
  display: none;
  background-color: $topBarColor;
  color: $topBarColorElements;
  padding: 0.4rem;

  @include md {
    display: block;
  }
}
.navbar {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkittransition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $headerColorElements;
}
.nav-menu {
  position: fixed;
  top: -100%;
  right: 0;
  flex-direction: column;
  background-color: $headerColor;
  padding-bottom: 30px;
  width: 100%;
  transition: 0.4s;

  @include md {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    gap: 40px;
    padding-bottom: 0px;
  }
}
.nav-item {
  margin-block: 1rem;
}
.nav-menu.active {
  position: absolute;
  top: 110px;
  right: 0;
  @include md {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    @include flex($justify: flex-end);
    position: static;
    gap: 10px;
    padding-bottom: 0px;
  }
}
.hamburger {
  display: block;
  cursor: pointer;
  @include md {
    display: none;
  }
}
button.hamburger {
  background-color: transparent;
  border: 0;
  margin: 0;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
