* {
  box-sizing: border-box;
}
header {
  background-color: $headerColor;
  // box-shadow: 0px 2px 10px #888888;
  a {
    color: $headerColorElements;
  }
  li {
    list-style: none;
  }
}
.top-bar {
  display: none;
  background-color: $topBarColor;
  color: $topBarColorElements;
  padding: 0.4rem;
  a {
    color: $topBarColorElements;
  }
  @include md {
    display: block;
  }
}
.nav-link {
  transition: 0.5s ease;
}
.navbar {
  min-height: 50px;
  max-width: 1400px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkittransition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $headerColorElements;
}
.nav-menu {
  position: fixed;
  right: -100%;
  top: 90px;
  flex-direction: column;
  background-color: $headerColor;
  padding-bottom: 30px;
  width: 100%;
  transition: 0.3s;

  // text-align: right;
  @include md {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    gap: 60px;
    padding-bottom: 0px;
  }
}
.nav-item {
  margin: 1rem 0;
  @include md {
  }
}
.nav-menu.active {
  right: 0;
}
.hamburger {
  display: block;
  cursor: pointer;
  @include md {
    display: none;
  }
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
