$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1300px;

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}
@mixin md {
  @media (min-width: $md) {
    @content;
  }
}
@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin flex(
  $direction: row,
  $justify: space-around,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin button($btnColor: black) {
  background-color: $btnColor;
  font-size: medium;
  color: white;
  border: 0px;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  &:hover {
    background-color: $headerColor;
  }
}
