// * {
//   font-size: 16px;
//   @include lg {
//     font-size: 18px;
//   }
// }
//general
h1,
h2,
h3,
h4,
h5 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}
header,
footer {
  font-family: "Libre Franklin", sans-serif;
}
body,
button,
.cards h2,
h3 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
.first-page-heading {
  font-size: 2.2rem;
}

//first page-sections
.center {
  text-align: center;
}

//default link
a,
button {
  text-decoration: none;
  color: $footerColorElements;
  &:hover {
    color: #daa520;
  }
}

//icons general
i {
  margin-right: 0.5rem;
  padding: 0px;
}

//header
.top-bar {
  font-size: 0.8rem;
  text-align: center;
}

//footer
footer {
  line-height: 1.4em;
  font-size: 0.9rem;
  i {
    font-size: 1.5rem;
  }
  .footer-link {
    &:hover {
      border-bottom: 1px solid;
    }
  }
}

.footer-copy {
  text-align: right;
  font-size: 0.8rem;
}
