h1,
h2,
h3,
h4,
h5,
header,
footer {
  font-family: "Libre Franklin", sans-serif;
}
body {
  font-family: "Nunito", sans-serif;
}
h1 {
  font-size: 1.75rem;
}

//default link
a {
  text-decoration: none;
  color: $footerColorElements;
  &:hover {
    color: $linkHoverHeader;
  }
}

.top-bar {
  font-size: small;
  text-align: center;
}

footer {
  line-height: 1.3em;
  font-size: 0.9em;
  i {
    font-size: 1.5em;
    padding-right: 5px;
  }
}

.footer-copy {
  text-align: right;
  font-size: small;
}
