//general
h1,
h2,
h3,
h4,
h5,
header,
footer {
  font-family: "Libre Franklin", sans-serif;
}
body,
button {
  font-family: "Nunito", sans-serif;
}

nav {
  a {
    color: $headerColorElements;
    padding: 1rem 0;
  }
}
h1.heading {
  margin-left: 0.5rem;
}
//default link
a {
  text-decoration: none;
  color: $footerColorElements;
  &:hover {
    color: $linkHoverHeader;
  }
}

//icons general
i {
  margin-right: 0.5rem;
}

//header
.top-bar {
  font-size: small;
  text-align: center;
}

//footer
footer {
  line-height: 1.4em;
  font-size: 0.9rem;
  i {
    font-size: 1.5rem;
  }
}

.footer-copy {
  text-align: right;
  font-size: small;
}
