// Main colors background
$topBarColor: #d9e1df;
$headerColor: #626d67;
$referenceColor: #f4f7f7;
$footerColor: #d9e0de;
$footerCopyColor: #d9e0de;

//Text colors
$headerColorElements: #ffffff;
$footerColorElements: #000000;
$footerCopyColorElements: #333936;

//buttons
$headerColorDarker: #333e39;
