// Main colors background
$topBarColor: #d9e1df;
$headerColor: #626d67;
$footerColor: #d9e0de;
$footerCopyColor: #d9e0de;
$footerLighterColor: #f4f7f7;

//Text colors
$headerColorElements: #ffffff;
$topBarColorElements: #000000;
$footerColorElements: #000000;
$footerCopyColorElements: #333936;

//Link effect
$linkHoverHeader: #7c91ad;
