// Main colors background
$topBarColor: #d9e1df;
$headerColor: #6d7872;
$footerColor: #d9e0de;
$footerCopyColor: #d9e0de;
// $headerColorRes: #163a20;

//Text colors
$headerColorElements: #ffffff;
$topBarColorElements: #000000;
$footerColorElements: #000000;
$footerCopyColorElements: #333936;

//Link effect
$linkHoverHeader: #7c91ad;
