@import "variables";
@import "mixins";
@import "img";
@import "text";
@import "content";
@import "header";
@import "footer";
@import "form";

body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

