img.log {
  width: 90px;
}

nav img.log {
  padding: 1.2rem 0;
}

.big {
  width: 100%;
}

.half {
  width: calc(50% - 0.25rem);
  max-height: 60vh;
}

.small {
  border-radius: 50%;
  width: 20%;
  padding: 0.5rem;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.flex-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.parent {
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent.landscape {
  max-height: 450px;
  margin: 0.5rem 0;
}

.parent.portrait {
  width: calc(50% - 0.25rem);
  max-height: 400px;
}
@media (min-width: 768px) {
  .parent.portrait {
    max-height: 550px;
  }
}

.parent img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
header,
footer {
  font-family: "Libre Franklin", sans-serif;
}

body,
button {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.1rem;
}

nav a {
  color: #ffffff;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #7c91ad;
}

i {
  margin-right: 0.5rem;
}

.top-bar {
  font-size: small;
  text-align: center;
}

footer {
  line-height: 1.4em;
  font-size: 0.9em;
}
footer i {
  font-size: 1.5em;
}

.footer-copy {
  text-align: right;
  font-size: small;
}

#content-wrap {
  flex-grow: 1;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 576px) {
  #content-wrap {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  #content-wrap {
    width: 70%;
    max-width: 1200px;
  }
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.center {
  align-self: center;
  text-align: center;
}

@media (min-width: 768px) {
  .flex-contact {
    display: flex;
    justify-content: space-between;
  }
}

section {
  text-align: left;
  max-width: 450px;
  padding: 1rem;
}
@media (min-width: 768px) {
  section {
    max-width: 400px;
  }
}

button {
  background-color: black;
  font-size: medium;
  color: white;
  border: 0px;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
button:hover {
  background-color: #6d7872;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

section.card {
  background-color: #d9e0de;
  width: 100%;
  max-width: 500px;
  margin: 0.5em;
}
@media (min-width: 576px) {
  section.card {
    width: calc(50% - 1rem);
  }
}
@media (min-width: 1300px) {
  section.card {
    width: calc(33% - 1rem);
  }
}
section.card button {
  background-color: #6d7872;
}

.references {
  background-color: #f4f7f7;
  padding: 1rem;
}
.references i {
  color: #6d7872;
  margin-bottom: 1rem;
}
.references section {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flex h3 {
  margin-bottom: 0.5rem;
}
.flex h4 {
  margin: 0;
}

header {
  background-color: #6d7872;
}
header li {
  list-style: none;
}

.top-bar {
  display: none;
  background-color: #d9e1df;
  color: #000000;
  padding: 0.4rem;
}
@media (min-width: 768px) {
  .top-bar {
    display: block;
  }
}

.nav-link {
  transition: 0.5s ease;
}

.navbar {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkittransition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.nav-menu {
  position: fixed;
  top: -100%;
  right: 0;
  flex-direction: column;
  background-color: #6d7872;
  padding-bottom: 30px;
  width: 100%;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    gap: 60px;
    padding-bottom: 0px;
  }
}

.nav-item {
  margin-block: 1rem;
}
.nav-menu.active {
  position: absolute;
  top: 110px;
  right: 0;
}
@media (min-width: 768px) {
  .nav-menu.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    gap: 60px;
    padding-bottom: 0px;
  }
}

.hamburger {
  display: block;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

button.hamburger {
  background-color: transparent;
  margin: 0;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

footer {
  background-color: #d9e0de;
  color: #000000;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  max-width: 1400px;
  margin: 0px auto;
}
@media (min-width: 1300px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer-logo {
  text-align: center;
  align-self: center;
  margin-bottom: 2.5rem;
  max-width: 250px;
}
@media (min-width: 1300px) {
  .footer-logo {
    text-align: left;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-content ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.footer-content li {
  list-style: none;
}
@media (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1400px;
    margin: 0px auto;
  }
}
@media (min-width: 1300px) {
  .footer-content {
    width: 60%;
    margin: 0;
  }
}

.footer-copy {
  background-color: #d9e0de;
  color: #333936;
  padding: 1rem;
}

input,
select {
  background-color: #f4f7f7;
  min-width: 15rem;
  min-height: 1.5rem;
  border: 0px solid;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

#textarea {
  min-width: 100%;
  min-height: 100px;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}/*# sourceMappingURL=style.css.map */